{# file: roles/firewall_knock_operator/templates/fwknop_credentials.yml.j2
#}
# file: group_vars/all/fwknop_credentials.yml
---

fwknop_KEY_BASE64: {{ fwknop_KEY_BASE64 | mandatory }}
fwknop_HMAC_KEY_BASE64: {{ fwknop_HMAC_KEY_BASE64 | mandatory }}
